@font-face {
  font-family: 'Eczar';
  src: url('../fonts/eczar/Eczar-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eczar';
  src: url('../fonts/eczar/Eczar-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wicked Glint';
  src: url('../fonts/wickedglint/WickedGlint-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Banthern';
  src: url('../fonts/banthern/banthern.regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Eczar', serif;
}

h2, h3, h4, h5, h6 {
  font-family: 'Wicked Glint', serif;
}

h1 {
  font-family: 'Banthern', serif;
  font-size: 4rem;
  font-weight: normal;
  font-synthesis: none;
  letter-spacing: 0.03em;
  line-height: 1.1;
}

