@font-face {
  font-family: 'Eczar';
  src: url('../fonts/eczar/Eczar-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eczar';
  src: url('../fonts/eczar/Eczar-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wicked Glint';
  src: url('../fonts/wickedglint/WickedGlint-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Banthern';
  src: url('../fonts/banthern/banthern.regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*
#1c6260
#6c9082
#dbd6b9
#a2835d
#ead1ad
rgba(211, 184, 150, 0.54) - transparent overlay
#132928 - text
#cfa863 - gold accent
*/

.navbar-div {
  background-color: #cfa863;
  border-radius: 6px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Wicked Glint', serif;
}

.navbar li {
  display: float;
  float: right;
}

.navbar li a {
  display: block;
  color: #132928;
  text-align: center;
  padding: .5rem .7rem;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: rgba(252, 228, 187, 0.32);
  border-radius: 6px;
  color: #1c6260;
}

.navbar li a.active {
  background-color: #b69253;
  border-radius: 6px;
}



.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: .5rem .7rem;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(252, 228, 187, 0.32);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #b69253;
  min-width: 5rem;
  z-index: 1;
  border-radius: 6px;
  border-top-left-radius: 0; 
  border-top-right-radius: 0; 
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  padding: .5rem .7rem;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

body {
  font-family: 'Eczar', serif;
  color: #132928;
  background-image:
    linear-gradient(
      rgba(211, 184, 150, 0.54),
      rgba(211, 184, 150, 0.54)
    ),
    url("../images/mtnriverbackground.png");
  background-repeat: 
    repeat,
    repeat;
  background-size: auto, 200px;
}

p {
  text-indent: 2rem;
  margin: 0;
}

.main-border {
  border: 4px solid #cfa863;
  border-radius: 15px;
  
  max-width: 40rem;
  margin: 0 auto;
}

.main {
  padding: 1rem;
  max-width: 40rem;
  
  margin: 0 auto;
  
  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url('../images/parchment_tile1.jpg');
  background-repeat: repeat, repeat;
  background-size: auto, 200px;
  
  border-radius: 10px;
}

.pageheader {
  margin: auto auto;
  max-width: fit-content;
}

.spacer {
  min-height: 1.5rem;
}

h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.3rem; }
h5 { font-size: 1.1rem; }
h6 { font-size: 1rem; }

h2, h3, h4, h5, h6 {
  font-family: 'Wicked Glint', serif;
  font-weight: normal;
  line-height: .01rem;
  margin-top: 1.5rem;
}

h1 {
  font-family: 'Banthern', serif;
  font-size: 4rem;
  font-weight: normal;
  font-synthesis: none;
  letter-spacing: 0.03em;
  line-height: 1.1;
}