<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Template</title>
        <link rel="stylesheet" href="/assets/css/main.css">
    </head>
    <body>
    <div class="main-border">
        <div class="main">
        <div class="pageheader">
    <h1>Page Title</h1>
            </div>
<nav class="navbar-div">
  <ul class="navbar">
      <li style="float: left"><a class="active" href="/veylune/index.html">Home</a></li>
      <li><a href="/veyluneplaces/atlas.html">Atlas</a></li>
      <li class="dropdown">
    <a class="dropbtn" href="/veylune/lore/magic/magic.html">Magic</a>
    <div class="dropdown-content">
      <a href="/veylune/lore/magic/systems.html">Systems</a>
      <a href="/veylune/lore/magic/materials.html">Materials</a>
    </div>
  </li>
        <li class="dropdown">
    <a class="dropbtn" href="/veylune/lore/florafauna.html">Flora & Fauna</a>
    <div class="dropdown-content">
      <a href="/veylune/lore/bestiary/bestiary.html">Bestiary</a>
      <a href="/veylune/lore/herbal/herbal.html">Herbal Codex</a>
    </div>
  </li>
        <li><a href="/veylune/lore/history/history.html">History</a></li>
      <li><a href="/veylune/lore/characters/characters.html">Characters</a></li>
      <li><a href="/veylune/meta/meta.html">Meta</a></li>
    </ul>
</nav>
        <div class="spacer"></div>
        <h2>Page Header</h2>
        <p>
        Body text.
        </p>
        </div>
    </div>
    </body>
</html>