<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Template</title>
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
    <div class="main-border">
        <div class="main">
        <div class="pageheader">
    <h1>Page Title</h1>
            </div>
<nav class="navbar-div">
  <ul class="navbar">
      <li style="float: left"><a href="index.html">Home</a></li>
      <li><a class="active" href="#meta">Meta</a></li>
      <li><a href="#characters">Characters</a></li>
      <li><a href="#history">History</a></li>
        <li class="dropdown">
    <a class="dropbtn" href="#florafauna">Flora & Fauna</a>
    <div class="dropdown-content">
      <a href="#bestiary">Bestiary</a>
      <a href="#herbal">Herbal Codex</a>
    </div>
  </li>
        <li class="dropdown">
    <a class="dropbtn" href="#magic">Magic</a>
    <div class="dropdown-content">
      <a href="#magicsystems">Systems</a>
      <a href="#magicmaterials">Materials</a>
    </div>
  </li>
      <li><a href="#atlas">Atlas</a></li>
    </ul>
</nav>
        <div class="spacer"></div>
        <h2>Page Header</h2>
        <p>
        Body text.
        </p>
        </div>
    </div>
    </body>
</html>